fastapi>=0.135,<0.136
uvicorn[standard]>=0.41,<0.42

psycopg[binary]>=3.1,<4.0

pydantic>=2.11,<3.0

requests>=2.32,<3.0

python-dotenv>=1.0,<2.0

pyserial>=3.5,<4.0

Pillow>=12.2,<13.0

opencv-python>=4.13.0.92,<4.14